<h1> <%= @post.title %> </h1>

<p> <%= @post.content %> </p>

Categories: <%= @post.categories.each do |category| %>
<li>
  <%= category.name %>
</li>
<% end %>

<% @post.comments.each do |comment| %>
<li>
  <%= comment.user.username %> says <%= comment.content %>
</li>
<% end %>
